@model IEnumerable<TimeLineBlog.Models.Article>

@{
    ViewData["Title"] = "主页";
}



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">时间线</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            @foreach (var item in Model) {
                <div class="card col-12 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="mb-2 card-subtitle text-muted">@item.CreateTime.ToLongDateString()</h6>
                        <p class="card-text">@item.PlainContent.Substring(0, item.PlainContent.Length)</p>
                        <a asp-action="ReadArticle" asp-route-id="@item.ID">更多……</a>
                    </div>                    
                </div>
            }
            
        </div>
    </div>


</div>
