@model TimeLineBlog.Models.Article

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div>@Html.Raw(Model.HTMLContent)</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">编辑</a> |
    <a asp-action="Index">返回文章列表</a>
</div>
